/* Main */

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-BlackItalik.woff") format("woff"), url("../fonts/Lato-BlackItalik.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-LightItalic.woff") format("woff"), url("../fonts/Lato-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Molle";
  font-display: swap;
  src: url("../fonts/Molle-Italic.woff") format("woff"), url("../fonts/Molle-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

/* Colors */

/* Vars */

/* Fonts */

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
  font-family: "Lato";
}

body.hide {
  overflow: hidden;
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  border: 0;
}

p {
  margin-bottom: 1.2rem;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

section.main {
  padding: 4.5rem 0;
}

/* Blocks */

.title__inner {
  text-align: center;
}

.title {
  font-size: 2rem;
  color: #3d506f;
  margin-bottom: .9rem;
  text-transform: uppercase;
}

.title_white {
  color: #fff;
}

.subtitle {
  font-size: 1.33rem;
  color: #7f90a5;
}

.subtitle_white {
  color: #fff;
}

.title__text {
  color: #7f90a5;
  padding: 0 13rem;
  line-height: 1.4;
}

.title__text_white {
  color: #fff;
}

.title__text_textimonials {
  margin-top: 2rem;
}

.btn {
  display: inline-block;
  color: #fff;
  padding: 1.1rem 2.26rem;
  border: 1px solid #fff;
  text-decoration: none;
  -webkit-transition: color .3s linear, background .3s linear, border .3s linear;
  -o-transition: color .3s linear, background .3s linear, border .3s linear;
  transition: color .3s linear, background .3s linear, border .3s linear;
}

.btn:hover {
  color: #546279;
  background-color: #fff;
}

.btn_portfolio {
  margin-top: 4.33rem;
  background-color: #3d506f;
}

.btn_portfolio:hover {
  color: #fff;
  background-color: #00c7fc;
}

.btn_skills {
  padding: 1.1rem 3.13rem;
  background-color: #3d506f;
}

.btn_skills:hover {
  color: #fff;
  background-color: #00c7fc;
}

.btn_subscribe {
  font-size: 1.33rem;
  background-color: #3d506f;
}

.btn_subscribe:hover {
  color: #fff;
  background-color: #00c7fc;
  border-color: #00c7fc;
}

.btn-list {
  margin-bottom: 4rem;
  text-align: center;
}

.btn__item {
  display: inline-block;
  padding: .8rem 1.66rem;
  background-color: #3d506f;
  color: #fff;
  text-decoration: none;
  margin: 0 .66rem;
  font-size: 1.33rem;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
}

.btn__item:hover {
  background-color: #00c7fc;
}

.form__btn {
  text-align: center;
}

.button {
  display: inline-block;
  padding: 1.3rem;
  cursor: pointer;
  width: 240px;
  font-size: 1.2rem;
  color: #3d506f;
  -webkit-transition: color .3s linear, background .3s linear;
  -o-transition: color .3s linear, background .3s linear;
  transition: color .3s linear, background .3s linear;
}

.button:hover {
  color: #fff;
  background-color: #00c7fc;
}

.button:focus {
  outline: none;
}

.header {
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.header__inner {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: "Molle";
  font-size: 2.46rem;
}

.burger {
  cursor: pointer;
  margin-right: 1.33rem;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.burger.active {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.burger__item {
  display: block;
  width: 26px;
  height: 4px;
  background-color: #161f32;
  margin-top: 2px;
}

.nav {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 60;
  background-color: #161f32;
  height: 100vh;
  width: 340px;
  overflow: auto;
  -webkit-box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.nav.active {
  right: 0;
}

.nav__inner {
  padding: 3.9rem 3.33rem 0 2.66rem;
}

.nav__close {
  cursor: pointer;
}

.nav__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__title {
  color: #fff;
  font-family: "Molle";
  font-size: 2.46rem;
}

.nav__body {
  margin-top: 3rem;
}

.nav__link {
  display: block;
  color: #fff;
  font-size: 1.33rem;
  text-decoration: none;
  margin-bottom: 1.33rem;
  -webkit-transition: color .3s linear;
  -o-transition: color .3s linear;
  transition: color .3s linear;
}

.nav__link:hover {
  color: #00c7fc;
}

.nav__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro {
  background-color: #546279;
  padding: 18.5rem 0 11.33rem 0;
}

.intro__inner {
  background-color: #222c40;
  padding: 3rem 0 4rem 0;
}

.intro__content {
  text-align: center;
  color: #fff;
}

.intro__title {
  font-size: 3.4rem;
  font-family: "Molle";
}

.intro__text {
  padding: 0 13rem;
  line-height: 1.4;
  margin-bottom: 1.7rem;
}

.decorotive {
  width: 49.5%;
  margin: 2.66rem auto 1.53rem;
  position: relative;
}

.decorotive:after,
.decorotive:before {
  content: "";
  display: block;
  width: 275px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 50%;
}

.decorotive:after {
  left: 0;
}

.decorotive:before {
  right: 0;
}

.decorotive_blue {
  margin: 1.33rem auto;
}

.decorotive_blue:after,
.decorotive_blue:before {
  background-color: #7f90a5;
}

.decorotive_about {
  margin: 1.33rem auto;
}

.decorotive_testimonials {
  margin: 2.33rem auto;
}

.decorotive_testimonials:after,
.decorotive_testimonials:before {
  background-color: #7f90a5;
}

.circle {
  display: block;
  width: 13px;
  height: 13px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 0 auto;
}

.circle_blue {
  border-color: #7f90a5;
}

.services__inner {
  margin-top: 4.4rem;
  padding: 0 .4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}

.services__icon {
  margin: 0 auto;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  background-color: #3d506f;
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.services__content {
  text-align: center;
}

.services__title {
  margin: 1.66rem 0;
  font-size: 1.33rem;
  color: #3d506f;
}

.services__text {
  color: #7f90a5;
  line-height: 1.3;
}

.reviews {
  padding: 5rem 0 4.33rem;
  background-color: #1d263a;
}

.reviews__inner {
  text-align: center;
  color: #fff;
}

.reviews__text {
  padding: 0 10rem;
  font-size: 1.66rem;
  margin-bottom: 2.66rem;
}

.portfolio__inner {
  margin-top: 4rem;
}

.portfolio__content {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (minmax(80px, 200px))[1];
  grid-template-rows: repeat(1, minmax(80px, 200px));
  justify-items: center;
  grid-gap: 30px;
}

.portfolio__item {
  background-color: #546279;
  cursor: pointer;
  padding: 0 4rem;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
}

.portfolio__item:hover {
  background-color: #222c40;
}

.portfolio__item:hover .portfolio__info {
  opacity: 1;
}

.portfolio__info {
  height: 100%;
  color: #fff;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.portfolio__title {
  font-size: 1.33rem;
  line-height: 1.7;
}

.portfolio__arrow {
  margin: 2rem 0 4rem;
}

.arrow {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  padding: 1.33rem;
  border-radius: 50%;
  background-color: #3d506f;
}

.portfolio__image {
  margin-top: 2rem;
  width: 100%;
  background-color: #161f32;
}

.portfolio__image__inner {
  padding: 1.88rem 0;
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  position: relative;
  display: none;
}

.portfolio__image__inner:after {
  content: "";
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #161f32;
  position: absolute;
  top: -1.25rem;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.portfolio__image__inner_first:after {
  left: 10%;
}

.portfolio__image__inner_second:after {
  left: 35%;
}

.portfolio__image__inner_third:after {
  left: 61.7%;
}

.portfolio__image__inner_fourth:after {
  left: 87.5%;
}

.portfolio__image__inner.active {
  display: -ms-grid;
  display: grid;
}

.portfolio__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio__close {
  cursor: pointer;
  text-align: right;
}

.portfolio__image__title {
  font-size: 1.33rem;
}

.portfolio__image__text {
  opacity: .7;
  padding: 1.66rem 0;
}

.about {
  background-color: #222c40;
}

.about__inner {
  margin-top: 5.86rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}

.about__item {
  color: #fff;
  text-align: center;
}

.about__avatar {
  margin: 0 auto;
  display: block;
  width: 220px;
  height: 220px;
  background-color: #161f32;
  overflow: hidden;
  cursor: pointer;
  border: 3px solid #fff;
  border-radius: 50%;
  position: relative;
}

.about__avatar:hover .about__icon {
  opacity: 1;
}

.about__icon {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.about__info {
  margin-top: 2rem;
}

.about__name {
  font-size: 1.33rem;
  line-height: 1.7;
}

.story {
  background-color: #161f32;
  color: #fff;
}

.story__item {
  padding: 2.33rem 0;
  position: relative;
  display: none;
}

.story__item:after {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: #161f32;
  position: absolute;
  top: -.5rem;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.story__item_first:after {
  left: 11.5%;
}

.story__item_second:after {
  left: 36.5%;
}

.story__item_third:after {
  left: 61.5%;
}

.story__item_fourth:after {
  left: 88.5%;
}

.story__item.active {
  display: block;
}

.story__body {
  padding: 2rem 0;
}

.story__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.story__text {
  opacity: .7;
}

.story__title {
  font-size: 1.33rem;
}

.story__close {
  cursor: pointer;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.descriotion__text {
  margin-left: .8rem;
}

.portfolio__image__footer {
  padding: 1.66rem 0;
  border-top: 1px solid #fff;
}

.description {
  margin: .2rem 0;
}

.skills {
  background-color: #fbfbfb;
}

.skills__inner {
  margin-top: 4.66rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 4rem;
}

.skills__title {
  color: #3d506f;
  font-size: 1.66rem;
}

.skills__text {
  margin: 1.3rem 0;
  color: #7f90a5;
  line-height: 1.3;
}

.skills__progress {
  margin-top: 1.3rem;
  height: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: .66rem;
}

.progress__item {
  width: 100%;
  background-color: #fff;
  color: #fff;
  overflow: hidden;
}

.progress__value {
  padding: 0 .66rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: #3d506f;
}

.statistics {
  background-color: #222c40;
}

.statistics__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}

.statistics__item {
  position: relative;
}

.statistics__content {
  position: absolute;
  top: 0;
  left: 5.73rem;
  z-index: 10;
  color: #fff;
}

.statistics__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.statistics__number {
  font-size: 2.66rem;
}

.blog__inner {
  margin-top: 4.66rem;
}

.blog__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (auto)[3];
  grid-template-rows: repeat(3, auto);
  grid-gap: 2rem;
  overflow: hidden;
}

.blog__item {
  background-color: #546279;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.blog__item:nth-child(1),
.blog__item:nth-child(2) {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}

.blog__item:nth-child(3) {
  -ms-grid-column-span: 4;
  grid-column: span 4;
}

.blog__item:nth-child(4) {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.blog__item:nth-child(5),
.blog__item:nth-child(6) {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.blog__item:hover .blog__part {
  opacity: 1;
}

.blog__part {
  margin-left: auto;
  position: relative;
  color: #fff;
  width: 45%;
  height: 100%;
  opacity: 0;
  padding: 1.2rem;
  background-color: #161f32;
  -webkit-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.blog__part:after {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: #161f32;
  position: absolute;
  top: 4rem;
  left: -.5rem;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.blog__part_full {
  margin: 0;
  max-width: 100%;
  width: auto;
}

.blog__part_full:after {
  display: none;
}

.blog__part_vertical {
  max-width: 100%;
  width: auto;
  height: 45%;
  position: absolute;
  bottom: 0;
}

.blog__part_vertical:after {
  top: -.5rem;
  left: 4rem;
}

.blog__title {
  font-size: 1.66rem;
}

.blog__author {
  margin: 1rem 0;
}

.blog__text {
  color: #7f90a5;
}

.form__subscribe {
  margin: 4.53rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input_subscribe {
  width: 560px;
  color: #fff;
  background-color: #3d506f;
  border: 3px solid #3d506f;
  margin-right: 1.8rem;
  padding-left: 1.66rem;
  font-size: 1.2rem;
  -webkit-transition: background .3s linear, color .3s linear;
  -o-transition: background .3s linear, color .3s linear;
  transition: background .3s linear, color .3s linear;
}

.input_subscribe::-webkit-input-placeholder {
  color: #fff;
  font-size: 1.2rem;
}

.input_subscribe::-moz-placeholder {
  color: #fff;
  font-size: 1.2rem;
}

.input_subscribe:-ms-input-placeholder {
  color: #fff;
  font-size: 1.2rem;
}

.input_subscribe::-ms-input-placeholder {
  color: #fff;
  font-size: 1.2rem;
}

.input_subscribe::placeholder {
  color: #fff;
  font-size: 1.2rem;
}

.input_subscribe:hover {
  color: #3d506f;
  background-color: #fff;
}

.input_subscribe:focus {
  color: #3d506f;
  background-color: #fff;
  outline: none;
}

.input__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.input__item:nth-child(4) {
  margin: 2rem 0 5rem;
  height: 13rem;
  width: 100%;
}

.input__item:nth-child(4) textarea {
  padding: 1.5rem 0;
  height: 100%;
  resize: none;
  overflow: hidden;
}

.input__item {
  width: 31.5%;
}

.input__contact {
  display: block;
  width: 100%;
  color: #fff;
  font-style: italic;
  font-size: 1rem;
  font-family: 'Arial';
  height: 4.3rem;
  text-indent: 2rem;
  border: 1px solid #fff;
  background-color: #161f32;
  -webkit-transition: border .3s linear;
  -o-transition: border .3s linear;
  transition: border .3s linear;
}

.input__contact:hover {
  border-color: #00c7fc;
}

.input__contact::-webkit-input-placeholder {
  color: #fff;
  font-size: 1rem;
  font-style: italic;
  font-family: 'Arial';
}

.input__contact::-moz-placeholder {
  color: #fff;
  font-size: 1rem;
  font-style: italic;
  font-family: 'Arial';
}

.input__contact:-ms-input-placeholder {
  color: #fff;
  font-size: 1rem;
  font-style: italic;
  font-family: 'Arial';
}

.input__contact::-ms-input-placeholder {
  color: #fff;
  font-size: 1rem;
  font-style: italic;
  font-family: 'Arial';
}

.input__contact::placeholder {
  color: #fff;
  font-size: 1rem;
  font-style: italic;
  font-family: 'Arial';
}

.input__contact:focus {
  outline: none;
  border-color: #00c7fc;
}

.customers {
  background-color: #161f32;
}

.customers__inner {
  margin-top: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name {
  color: #3d506f;
  font-size: 1.33rem;
}

.contact {
  background-color: #161f32;
}

.contact__inner {
  margin: 4rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
}

.contact__name {
  margin: 1rem 0;
}

.footer {
  background-color: #161f32;
  padding-bottom: 2.46rem;
}

.copyright {
  text-align: center;
  color: #fff;
}

.copyright__title {
  font-family: "Molle";
  font-size: 2.46rem;
  margin-bottom: .8rem;
}

.copyright__text {
  font-size: .73rem;
}

@media (max-width: 1200px) {
  .decorotive {
    width: 40%;
  }

  .decorotive:after,
  .decorotive:before {
    width: 150px;
  }

  :after {
    left: 40%;
  }

  :before {
    right: 40%;
  }

  .portfolio__content {
    margin: 0 1rem;
  }

  .portfolio__image__inner {
    padding: 1.88rem;
  }

  .story {
    padding: 0 2rem;
  }

  .skills__inner {
    padding: 0 2rem;
  }

  .statistics__inner {
    padding: 0 1rem;
  }

  .blog__content {
    padding: 0 2rem;
  }

  .blog__inner {
    margin-top: 3rem;
  }

  .input__inner {
    padding: 0 2rem;
  }
}

@media (max-width: 1170px) {
  .container {
    width: 100%;
    margin: 0;
  }

  .logo {
    margin-left: 1.33rem;
  }
}

@media (max-width: 1060px) {
  .services__inner {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2rem;
    justify-items: center;
  }

  .services__item {
    width: 70%;
  }
}

@media (max-width: 1000px) {
  .portfolio__item {
    padding: 0 2rem;
  }
}

@media (max-width: 950px) {
  .about__avatar {
    width: 150px;
    height: 150px;
  }

  .about__inner {
    margin-top: 3rem;
  }
}

@media (max-width: 900px) {
  section.main {
    padding: 3rem 0;
  }

  .title {
    padding: 0 1rem;
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .title__text {
    padding: 0 10rem;
  }

  .intro__title {
    font-size: 2rem;
  }

  .intro__text {
    padding: 0 10rem;
  }

  .skills__progress {
    height: 50%;
  }

  .statistics__image {
    width: 20%;
  }

  .statistics__content {
    top: -10%;
    left: 3.5rem;
  }

  .customers__inner {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2rem;
  }

  .customers__inner {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 4rem;
  }
}

@media (max-width: 850px) {
  .decorotive:after,
  .decorotive:before {
    width: 100px;
  }
}

@media (max-width: 800px) {
  .portfolio__content {
    -ms-grid-rows: (150px)[1];
    grid-template-rows: repeat(1, 150px);
    grid-gap: 20px;
  }

  .portfolio__arrow {
    margin: 1rem 0 1.5rem;
  }

  .blog__content {
    display: block;
  }

  .blog__item {
    margin-top: 2rem;
  }

  .blog__item:nth-child(4) {
    display: none;
  }

  .input_subscribe {
    width: 87%;
  }
}

@media (max-width: 750px) {
  .reviews__text {
    padding: 0 2rem;
  }

  .statistics__inner {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .statistics__content {
    position: static;
    margin-top: 1rem;
    text-align: center;
  }

  .statistics__item {
    position: static;
    margin: 0 auto;
  }

  .statistics__image {
    width: 100px;
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .title__text {
    padding: 0 2rem;
  }

  .btn-list {
    margin: 0 1rem 4rem;
  }

  .btn__item,
  .btn {
    font-size: 1rem;
    padding: .5rem 1rem;
  }

  .intro__text {
    padding: 0 2rem;
  }

  .portfolio__content {
    -ms-grid-rows: (100px)[1];
    grid-template-rows: repeat(1, 100px);
    grid-gap: 15px;
  }

  .portfolio__item {
    padding: 0;
  }

  .portfolio__title {
    font-size: .8rem;
    line-height: 1;
  }

  .portfolio__prof {
    font-size: .7rem;
  }

  .portfolio__image__text {
    font-size: .7rem;
    padding: 1rem 0;
  }

  .portfolio__image__title {
    font-size: 1rem;
  }

  .about__avatar {
    width: 125px;
    height: 125px;
  }

  .about__name {
    font-size: 1rem;
    line-height: 1;
  }

  .about__info {
    margin-top: 1rem;
  }

  .portfolio__image__footer {
    font-size: .7rem;
    padding: 1rem 0;
  }

  .skills__inner {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 2rem;
  }

  .progress__value {
    padding: .7rem 1rem;
  }
}

@media (max-width: 600px) {
  .title__text {
    margin-top: 1rem;
    font-size: .9rem;
  }

  .nav {
    width: 100%;
  }

  .intro__text {
    margin-top: 1rem;
    font-size: .9rem;
  }

  .decorotive:after,
  .decorotive:before {
    width: 70px;
  }

  .decorotive {
    display: none;
  }

  .input__item {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .contact__inner {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 4rem;
  }
}

@media (max-width: 550px) {
  .btn__item {
    display: block;
    margin-top: 1rem;
  }

  .services__inner {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .services__item {
    width: 90%;
  }

  .services__title {
    margin: 1rem 0;
  }

  .reviews__text {
    font-size: 1rem;
  }

  .reviews__author {
    font-size: .7rem;
  }

  .about__avatar {
    width: 100px;
    height: 100px;
  }

  .about__inner {
    margin-top: 2rem;
  }

  .about__name {
    font-size: .8rem;
  }

  .about__info {
    margin-top: .7rem;
    font-size: .8rem;
  }

  .story__body {
    padding: 1rem 0;
  }

  .story__text {
    font-size: .7;
  }

  .statistics__inner {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 5rem;
  }
}

@media (max-width: 500px) {
  .form__subscribe {
    display: block;
    text-align: center;
  }

  .input_subscribe {
    height: 4rem;
    margin: 0;
    margin-bottom: 2rem;
  }
}

@media (max-width: 450px) {
  .about__avatar {
    width: 50px;
    height: 50px;
  }

  .about__info {
    font-size: .6rem;
  }
}

@media (max-width: 420px) {
  .portfolio__content {
    -ms-grid-rows: (70px)[1];
    grid-template-rows: repeat(1, 70px);
    grid-gap: 5px;
  }

  .portfolio__content {
    margin: 0;
  }

  .portfolio__image__inner {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
  }
}

@media (max-width: 400px) {
  .progress__value {
    padding: .3rem .7rem;
  }
}

@media (max-height: 600px) {
  .intro {
    padding: 7rem 0 0;
  }
}